# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  domain_name: example.com
  secret_key_base: 1e09626ffbd092eda7c3323e9e1ab9e722311a21ad0ab2f1a4af763a412a78e419ae952da6f7a95471f28e383d63bfcca60628abf65fa06f4ede372b10035c7e

test:
  secret_key_base: 70ce5a8eaacd88e2883afee4666933eb1804257c5433f498497169a7e94065bbc965efa136d1e8c082ad6b25ba8cdefba8061c6748e1567745fc9707dce56975

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
